@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
}
.container {
	width: 100%;
	height: 100%;
}
nav {
	position: fixed;
	display: flex;
	align-items: flex-start;
	width: 15%;
	height: 100%;
	background-color: White;  /* left menu vertical left bar empty space */
}
main {
	position: fixed;
	right: 0;
	width: 85%;
	height: 100%;
	background-color: White;  /* Right Page */
	overflow: auto;
	padding: 40px;
}
h1 {
	font-weight: bold;
	margin-bottom: 50px;
	font-size: 55px;
	text-align: center;
}
p {
	margin-bottom: 20px;
	line-height: 26px;
}
/*
p::first-letter {
	font-size: 200%;
	font-weight: bold;
}
*/
li, ul label.title, ul, a {
	width: 100%;
	color: Black;
	font-family: 'Verdana', 'Open Sans', sans-serif;
	display: block;
	font-weight: none;
}
ul label {
	height: 35px;
	border-top: 2px dotted Gray;
}
ul li{
	height: 35px;
	overflow: hidden;
	transition: all .3s;
}
li {
	display: block;
	background-color: White;  /*  Selected main module topics */
}
label.title {
	font-size: 12px;
	background-color: White;
	padding: 10px 15px;
	cursor: pointer;
    transition: all .25s;
    font-weight: bold;
}
a{
	font-size: 12px;
	text-decoration: none;
	color: #Black;
	display: block;
	padding: 5px 25px;
	transition: all .25s;
}
a:hover {
  background-color: #ffe4b2;  /* Hover of topic */
  box-shadow: inset 5px 0px 0px 0px Orange;  /* left side bar */
  color: Black;
}

.selected-topic {
  background-color: #ffe4b2;  /* Hover of topic */
  box-shadow: inset 5px 0px 0px 0px Orange;  /* left side bar */
  color: Black;
}

label:hover {
	text-shadow: 0px 0px 10px Orange;
}
input[type="radio"] {
	display: none;
}
#welcome:checked + li {
	height: 120px;
}
#installation:checked + li {
	height: 145px;
}
#basicsyntax:checked + li {
	height: 145px;
}
#comments:checked + li {
	height: 90px;
}
i {
	margin-right: 12px;
}
@media screen and (max-width: 600px){
	nav {
		width: 100%;
		position: relative;
	}
	main {
		width: 100%;
		position: relative;
	}
}