code {
  display: block;
  white-space: pre-wrap;
  padding: 15px;
  font-family: monospace;
  color: Orange;
  width: 100%;
}

p.title {
  font-size:28px;
}

pre {
  padding: 20px 0px 0px 0px;
  border-left: 5px solid Orange;
  counter-reset: line;
}
pre span {
  display: block;
  line-height: 0.4rem;
}

syntax.comment {
    color: gray;
}

pre span:before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  border-right: 0px solid #ddd;
  padding: 0 .5em;
  margin-right: .5em;
  width: 20px;
  color: #888
}

#codeimage {
    width: 100%;
    background-color: #201f1e;  /*charcoal like */
    border-left: 5px solid Orange;
    border-right: 5px solid Orange ;
}