body {
  margin: 10px;
  font-family:"Consolas";
  font-size:18px;
}

a:link {
  text-decoration: none;
  color: Black;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: none;
}


p.title {
  font-size:28px;
}

img {
  color: Navy;
  border-radius: 2px;
  border: 2px dotted Orange;
}



pre {
  background: #fdf5e6;
  color: Navy;
  padding: 20px 0px 20px 0px;
  border-radius: 2px;
  border-top: 0px solid #00aeef;
  -moz-box-shadow: inset 0 0 10px #000;
  box-shadow: inset 0 0 10px #000;
  counter-reset: line;
}

code {
  counter-increment: line;
}

code::before {
  content: counter(line);
  display: inline-block;
  width: 1.5em; /* Fixed width */
  border-right: 1px solid #ddd;
  padding: 0 .5em;
  margin-right: .5em;
  color: #888;
  -webkit-user-select: none;
}
